
html{
    font-size:10px;
    height: 200vh;
}

*{
    padding: 0;
    margin : 0;
    box-sizing: border-box;
}

li , span ,a , p , h1 ,h2 , h3 , h4 ,h5 , h6 , i {
    font: 1.5rem 'Lato','Open Sans','Nanum Gothic','Noto Sans KR',Dotum,AppleGothic,sans-serif;
    font-weight: 350;
    transition: all 0.25s ease-in-out;
    letter-spacing: 0.1rem;
    line-height: 22px;
}


li{
    list-style: none;
    cursor: pointer;
}
a{
    text-decoration: none;
   
}
header a{
    margin-left : 16px;
}
a:visited{
    color: black;
}
a:hover{
    color : #aeaeae;

}

main{
    overflow: hidden;
}


  header,aside{
    position: fixed;
    top : 0px;
}

header{
    display: flex;
    justify-content: flex-end;
    padding : 4rem;
    right: 0;
    z-index: 100;
}


aside{
    width : 20%;
    height: 100vh;
    min-width: 25vw;
    max-width : 30vw;
    padding : 4rem;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
    z-index: 100;
}
.navigation_header{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.navigation_header>img{
 
    width: 100%;
    height: auto;
 
   
}

.navigation_main{
    text-align: center;
    margin-top: 6.4rem;
}


.navigation{
    margin-bottom: 4px;
    text-transform: uppercase;
}
.main_nav_large{
    position: relative;
}
.main_nav_large > a{
    font-size: 2rem;
    font-weight: 400;
}
.specific_menu{
    width: 200px;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    top: 0px;
    right: -200px;
    transition: all 0.2s linear;
    display: none;
    padding: 0.2rem;

}

.specific_nav{
    text-align: center;
    border-bottom : 1px solid #aeaeae;
    width: 90%;
    font-size: 1rem;
    letter-spacing: 0;
    font-weight: 500;
}
.specific_menu :last-child{

    border: none;
}

.main_nav_large:hover > ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.large_navigation_last{
    margin-bottom: 32px;
}

.navigation_footer{
    margin-top: 48px;
    border: 1px solid #121212;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
}

.top-navigation{
    display: flex;
}
.navigation_footer>input{
    outline: none;
    border:none;
    background: none;
    width: 90%;
    height: 100%;
    border-right: 1px solid #121212;
    padding-left: 4px;
    text-align: center;
}
.navigation_footer>i{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color : #232323;
    opacity: 0.6;
}
.navigation_footer>i:hover{
    opacity: 1;
}

section{
    margin-top : 8rem;
    min-height: 100vh;
    padding: 4rem 0 0 0rem;
    width: calc(100% - 30vw);
    position: relative;
    transform: translateX(28vw);
    overflow: scroll;
}

.section_title{
    font-weight: 500;
    margin-bottom : 120px;
}
.item_list{
    display: flex;
    flex-direction: column;
    min-height: 60vh;
}
.item_row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}
.item_card{
    max-width: 28vw;
    min-width: 23vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper{
    width: 100%;
    height: 40rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.item{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('./asset/p1.jpeg');
    background-size: cover;
    margin-bottom: 1.5rem;
    transition: all 0.2s ease-in-out;
    background-position: center;
 
}
.mask_handler:hover > .item {
    transform: scale(1.2);
}
.mask_handler:hover > .mask {
    display: flex;
    justify-content: center;
    align-items: center;
}


.mask{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(46,46,46,0.5);
  
    width: 100%;
    height: 100%;
    display: none;
    z-index: 40;
}

.item_name{
    font-weight: 500;
    letter-spacing: 0;
    color : #343434;
}
.item_price{
    letter-spacing: 0;
    font-weight: bolder;
}
.item_brief_description{
    color : white;
    font-weight: bold;
}



.animate{
    animation : trans-up .5s ease-in-out forwards;
}

@keyframes trans-up{
    0%{
        transform : translateY(0);
    }
    100%{
        transform: translateY(-80px);
    }
}