
html{
    font-size:10px;
    height: 200vh;
}

*{
    padding: 0;
    margin : 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    font: 1.5rem 'Lato','Open Sans','Nanum Gothic','Noto Sans KR',Dotum,AppleGothic,sans-serif;
    font-weight: 350;
    transition: all 0.25s ease-in-out;
    letter-spacing: 0.1rem;
    line-height: 22px;
}
header a{
    margin-left : 16px;
}
a:visited{
    color: black;
}
a:hover{
    color : #cecece;

}


header,aside{
    position: fixed;
    top : 0px;
}

header{
    right: 0px;
    padding : 3rem;
}

aside{
    width : 20%;
    background-color: red;
    height: 100vh;
    min-width: 200px;
    max-width : 300px;
    padding : 3rem;
}




.top-navigation{
    display: flex;
}